/.DS_Store
/Legende_Snow_validation.qmlest.qml
/Sentinental_Cloud_Snow_noSNow.qml
/__OLD
/data
/horlachtal.ipynb
/horlachtal.yml
/model_schneehöhe.qml
/results
/rofental.ipynb
/rofental.yml
/rofental_SCF1,2.yml
/rofental_SCF1,4.yml
/tutorium_gebfo
/workbench_horlachtal.ipynb
/workbench_horlachtal.md